<!doctype html>
<html>
  <head>
    <title>AI Chat Assistant</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="side-bar">
      <h2>Database Info</h2>
      <div id="schema"></div>
    </div>
    <div class="chat-page">
      <header><h1>Tehqeeq.AI</h1></header>
      <div id="chatBox"></div>
      <div class="input-area">
        <div class="input-wrapper">
          <input
            id="message"
            type="text"
            placeholder="Ask anything..."
            autocomplete="off"
          />
          <button onclick="sendMessage()">Send</button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <script>
      const chatBox = document.getElementById("chatBox");
      const messageInput = document.getElementById("message");

      async function sendMessage() {
        const message = messageInput.value.trim();
        if (!message) return;

        addMessage(message, "user");
        messageInput.value = "";

        const loader = addMessage("Thinking...", "bot loading");

        try {
          const response = await fetch("/chat", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ message }),
          });

          const data = await response.json();

          loader.remove();
          addMessage(data.response, "bot");
        } catch (error) {
          loader.remove();
          addMessage("Oops - That's out of my reach!!!", "bot error");
        }
      }

      function addMessage(text, className) {
        const div = document.createElement("div");
        div.className = `msg ${className}`;

        const p = document.createElement("p");

        // Markdown rendering
        p.innerHTML = marked.parse(text);

        div.appendChild(p);
        chatBox.appendChild(div);

        chatBox.scrollTop = chatBox.scrollHeight;

        return div;
      }

      messageInput.addEventListener("keypress", (e) => {
        if (e.key === "Enter") sendMessage();
      });

      window.addEventListener("DOMContentLoaded", () => {
        addMessage(
          "👋 Why not check out the different tables in the database?",
          "bot",
        );
      });

      fetch("/schema")
        .then((res) => res.json())
        .then((data) => {
          let html = "";

          for (let table in data) {
            html += `
        <div class="table" onclick="toggleTable('${table}')">
            📂 ${table}
            <ul class = "columns" id="${table}" style="display:none;">
        `;

            data[table].forEach((column) => {
              html += `
            <li>
              ${column}
            </li>
            `;
            });

            html += `
            </ul>
        </div>
        `;
          }

          document.getElementById("schema").innerHTML = html;
        });

      function toggleTable(id) {
        let element = document.getElementById(id);

        element.style.display =
          element.style.display === "none" ? "block" : "none";
      }
    </script>
  </body>
</html>
